body,
html {
  font-family: "Inter", serif;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f55a5a;
  height: 55px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--title {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
}
